<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
  <div class="container-fluid">

    <!-- <img class="avatar-sm img p-1" src="/assets/img/site/gas-logo.png" /> -->
    <a class="navbar-brand" routerLink=''>
      LPG Agency
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
      aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
              aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>


      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Features</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['documentation/tutorial']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Getting started</h6>
                  <p class="description d-none d-md-inline-block mb-0">Learn how to use Argon compiling Scss, change
                    brand colors and more.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/colors']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Foundation</h6>
                  <p class="description d-none d-md-inline-block mb-0">Learn more about colors, typography, icons and
                    the grid system we used for Argon.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Components</h5>
                  <p class="description d-none d-md-inline-block mb-0">Browse our 50 beautiful handcrafted components
                    offered in the Free version.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Modules</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/inventory']" class="dropdown-item">Inventory</a>
            <a [routerLink]="['/hr']" class="dropdown-item">HR Management</a>
            <a [routerLink]="['/landing']" class="dropdown-item">Orders</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Riders</a>
            <a [routerLink]="['/login']" class="dropdown-item">Users</a>
            <a [routerLink]="['/register']" class="dropdown-item">Agents</a>
            <a [routerLink]="['/register']" class="dropdown-item">Reports</a>
            <a [routerLink]="['/register']" class="dropdown-item">Transactions</a>
            <a [routerLink]="['/register']" class="dropdown-item">Revenue</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)" target="_blank" data-toggle="tooltip"
            title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)" target="_blank" data-toggle="tooltip"
            title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)" target="_blank" data-toggle="tooltip"
            title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)" target="_blank" data-toggle="tooltip"
            title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
      </ul>

      <section class="select-theme">
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link no-caret" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              Light
              <span class="nav-link-inner--text">
                <label class="custom-toggle" style="margin-bottom: -7px;">
                  <input type="checkbox" (change)="onThemeToggle()">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
              </span>
              Dark
            </a>
          </li>
        </ul>
      </section>

      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <i class="ni ni-favourite-28"></i>
            <span class="nav-link-inner--text d-lg-none">Discover</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <i class="ni ni-notification-70"></i>
            <span class="nav-link-inner--text d-lg-none">Profile</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="javascript:void(0)" id="navbar-default_dropdown_1" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-settings-gear-65"></i>
            <span class="nav-link-inner--text d-lg-none">Settings</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
